
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    
    background: linear-gradient(to right, #003049, #eae2b7);
    display: flex;
    align-items: center;
}

.sidebar {
    width: 175px;
    position: fixed !important;
    z-index: 1;
    background-color: white;
    overflow: auto;
    align-items: center;
}

object{
    pointer-events: none;
}